@import'partials/_home.css';
@import'partials/_presentation.css';
@import'partials/_technique.css';
@import'partials/_investigation.css';
@import'partials/_loginRegisterAccount.css';
@import'partials/_permanent.css';
@import'partials/_detail.css';
@import'partials/_publishEdit.css';

*{
    max-width: 100%!important;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color:  var(--colorMedio);
}

body{
    background-color: var(--colorMedio);
    scroll-behavior: smooth;
}

.headerLogo{
    width: 100px;
    margin-top: 25px;
}

.footerContainer{
    width: 100%;
    z-index: 0;
    position: absolute;
}

.socialMedia{
    background-color: var(--colorOscuro);  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialMedia a i{
    background-color: var(--colorOscuro);
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--colorMedio);
}

footer {
  bottom: -15;
  position: absolute;
  width: 100%!important;
  height: 10rem;  
  background-color: var(--colorOscuro);
}

.footer p{
    margin-top: 20px;
    color: var(--colorMedio);
    background-color: var(--colorOscuro);
    text-align: center;
}

.scroll{
    position: fixed;
    bottom: 25%;
    z-index: 2000;
    right: 2%;
    padding: 15px;
    border-radius: var(--bordeRadio);
    background-color:var(--botonFondo);
    color: var(--colorClaro);
    font-size: 10px;
    letter-spacing: 0.3rem;
    transition: var(--botonTransicion);
    text-transform: uppercase;
}

.scroll:hover{
    background-color: var(--botonFondoHover)
}

.scroll:focus{
    background-color: var(--botonFondoFocus);
    border: var(--botonBordeFocus);
    outline: none;
}

.scroll i {
    background-color: transparent;
    width: 75%;
    height: 75%;
}

@media (max-width: 1060px){
    .click{
        left: 215px;
    }
}

@media (max-width: 945px){
    .presentationTextContainer{
        margin-left: 0px;
    }

    .presentationImageContainer img{
        width: 350px;
    }
}

@media (max-width: 845px) {
    .headerLogo{
        display: none;
    }

    .sidebar{
        width: 50%;
        height: 130vh;
    }

    .menuLogo{
        width: 200px;
        height: 155px;
    }

    .click{
        left: 290px;
        z-index: 2000;
    }

    .presentationTextContainer{
        padding: 45px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;

    }

    .presentationImageContainer img{
        width:305px
    }

    .title h3{
        width: 100%;
    }

    .presentationTextContainer h2, h4{
        text-align: center;
    }

    .presentationImageContainer{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
}


@media (max-width: 600px){
    .btnMenu{
        left: 20px
    }

    .click{
        left:50%
    }

    .menuLogo{
        height: 130px;
    }

    .presentationTextContainer h4{
        font-size: 17px;
    }
}