@import'partials/_home.css';
@import'partials/_presentation.css';
@import'partials/_technique.css';
@import'partials/_investigation.css';
@import'partials/_loginRegister.css';

*{
    max-width: 100%!important;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgb(73, 73, 73);
}

body{
    background-color: rgb(73, 73, 73);
}

.headerLogo{
    width: 100px;
    margin-top: 25px;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%!important;
  height: 2rem;  
  background-color: rgb(31, 31, 31);
}

.footer p{
    margin-top: 0.3rem;
    color: rgb(73, 73, 73);
    background-color: rgb(31, 31, 31);
    text-align: center;
}