@import'partials/_home.css';
@import'partials/_presentation.css';
@import'partials/_technique.css';
@import'partials/_investigation.css';
@import'partials/_loginRegisterAccount.css';
@import'partials/_variables.css';

*{
    max-width: 100%!important;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color:  var(--colorMedio);
}

body{
    background-color: var(--colorMedio);
    scroll-behavior: smooth;
}

.headerLogo{
    width: 100px;
    margin-top: 25px;
}

.footerContainer{
    width: 100%;
    z-index: 0;
    position: absolute;
}

.socialMedia{
    background-color: var(--colorOscuro);  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialMedia a i{
    background-color: var(--colorOscuro);
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--colorMedio);
}

footer {
  bottom: -15;
  position: absolute;
  width: 100%!important;
  height: 10rem;  
  background-color: var(--colorOscuro);
}

.footer p{
    margin-top: 20px;
    color: var(--colorMedio);
    background-color: var(--colorOscuro);
    text-align: center;
}