<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    <div class="container-fluid">
    <div class="title">
        <div class="titleImgContainer d-flex justify-content-center">
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
            <h3 class="">ASTROLOGIA AL SUR</h3>
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
        </div>
        <% let date = new Date %> 
        <h5 class=""><%= `${date.getUTCDate()}, ${(date.getUTCMonth() + 1)}, ${date.getUTCFullYear()}` %> </h5>
    </div>
        <aside class="sidebar">
            <nav class="nav">
                <img src="/images/menuLogo.png" class="menuLogo" alt="">
            <ul>
                <li class=""><a href="/">Inicio</a></li>
                <li class=""><a href="/presentation">Presentación</a></li>
                <li class=""><a href="/technique">Técnica</a></li>
                <li><a href="/investigation">Investigación</a></li>
                <li><a href="/forecast">Pronóstico</a></li>
                <li><a href="/talk">Hablemos</a></li>
                <br>
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registrarse</a></li>
            </ul>
            </nav>
        </aside>



        <div class="registerFormContainer row d-flex justify-content-center">
            <h3 class="col-12">Iniciar Sesión</h3>
            <form action="" class="col-6 row d-flex justify-content-center">
                <label for="email" class="col-7">Email</label>
                <input type="email" name="email" class="col-7">
                <label for="password" class="col-7">Contraseña</label>
                <input type="password" name="password" class="col-7">
                <button type="submit" class="col-7">Ingresar</button>
            </form>
        </div>
        </div>



        <%- include('./partials/footer') %> 
        <%- include('./partials/scripts') %> 

</body>
</html>