<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <button class="btnMenu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="45" height="45" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
    </button>
    
    <div class="title">
        <img src="/images/menuLogo.png" alt="" class="headerLogo">
            <h3 class="">ASTROLOGIA AL SUR DEL SUR</h3>
            <img src="/images/menuLogo.png" alt="" class="headerLogo">
        <% let date = new Date %> 
        <h5 class=""><%= `${date.getUTCDate()}, ${(date.getUTCMonth() + 1)}, ${date.getUTCFullYear()}` %> </h5>
    </div>
        <aside class="sidebar">
            <nav class="nav">
                <img src="/images/menuLogo.png" class="menuLogo" alt="">
            <ul>
                <li class=""><a href="/">Inicio</a></li>
                <li class="active"><a href="/presentation">Presentación</a></li>
                <li><a href="/technique">Técnica</a></li>
                <li><a href="/investigation">Investigación</a></li>
                <li><a href="/forecast">Pronóstico</a></li>
                <li><a href="/talk">Hablemos</a></li>
                <br>
                <li><a href="">Iniciar Sesión</a></li>
                <li><a href="">Registrarse</a></li>
            </ul>
            </nav>
        </aside>
        <div class="presentationContainer ">
            <div class="presentationTextContainer ">
                <h2>Soy Melina Graves, <br> astróloga e historiadora</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugit sed repudiandae rerum itaque ratione quas dignissimos animi est nemo.</h4>
                <button> <a href="/investigation"> Ver Trabajos </a></button>
            </div>
            <div class="presentationImageContainer ">
                <img src="/images/homeLogo.png" alt="">
            </div>
        </div>
        </div>

        <div class="footerContainer">
            <footer class="footer">
                <p>Coded with love by @juliacorderoo</p>
            </footer>
        </div>
        <script src="/js/home.js" ></script>
        <script src="/js/presentation.js"></script>
</body>
</html>