<div class="footerContainer">
    <footer class="footer">
        <div class="socialMedia">
            <a href="https://www.instagram.com/astroalsur/?hl=es-la"><i class="fab fa-instagram-square fa-5x"></i></a>
            <a href="https://twitter.com/astroalsur"><i class="fab fa-twitter-square fa-5x"></i></a>
            <a href="mailto:astro.alsur@gmail.com?"><i class="fas  fa-envelope-square fa-5x"></i></a>
        </div>
        <p>Coded with love by @juliacordero</p>
    </footer>
</div>