<div class="footerContainer">
    <footer class="footer">
        <div class="socialMedia">
            <a href=""><i class="fab fa-instagram-square fa-5x"></i></a>
            <a href=""><i class="fab fa-twitter-square fa-5x"></i></a>
            <a href=""><i class="fas  fa-envelope-square fa-5x"></i></a>
        </div>
        <p>Coded with love by @juliacordero</p>
    </footer>
</div>