@keyframes slide {
    0%   { transform: translate(0px,0px); }
    100% { transform: translate(0px,10px); }
}

.investigationTitle{
    text-align: center;
    margin: 20px;
    animation-name: slide;
    animation-duration: 1.5s; 
    animation-fill-mode: both;  
}

.articleContainer{
    margin: 20px;
    margin-bottom: 50px;
    border-radius: var(--bordeRadio);
    transition: 0.7s ease-in-out;
    background-color:  var(--colorMasClaro);
    border: 3px solid var(--colorMedio);
    animation-name: slide;
    animation-duration: 1.5s; 
    animation-fill-mode: both;  
}

.articleContainer:hover{
    background-color:  rgba(209, 208, 208, 0.616);
    box-shadow: 0 0 5px 2px #fff;
    border: 3px solid var(--colorMasClaro);
}

.articleContainer h3, .articleContainer p{
    background-color: transparent;
}

.articleContainer h3, .articleContainer p {
    text-align: center;
}

.articleContainer h3{
    margin-top: 10px;
}

.articleDate{
    padding-top: 10px;
    border-top: 2px solid black;
}

