@keyframes slide {
    0%   { transform: translate(0px,0px); }
    100% { transform: translate(0px,15px); }
}

.registerFormContainer{
    margin: 50px;
    width: 100%;
    animation-name: slide;
    animation-duration: 2s; 
    animation-fill-mode: both;  
    padding-bottom: 10vh;
}

.registerFormContainer form{
    background-color: rgba(31, 31, 31, 0.644);
    border-radius: var(--bordeRadio);
}

.registerFormContainer form label{
    background-color: rgba(31, 31, 31, 0.199);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--colorMasClaro);
    margin: 15px;
}

.registerFormContainer form input, textarea{
    border-radius: var(--bordeRadio);
    transition: box-shadow 0.7s;
}

.registerFormContainer form input:focus, textarea:focus{
    border-radius: var(--bordeRadio);
    box-shadow: 0 0 5px 2px #fff;
    outline: none;
}

.registerFormContainer form button{
    margin: 15px;
    padding: 15px;
    border-radius: var(--bordeRadio);
    background-color:var(--botonFondo);
    color: var(--colorClaro);
    letter-spacing: 0.3rem;
    transition: var(--botonTransicion);
    text-transform: uppercase;
}

.registerFormContainer form button:hover{
    background-color: var(--botonFondoHover)
}

.registerFormContainer form button:focus{
    background-color: var(--botonFondoFocus);
    border: var(--botonBordeFocus);
    outline: none;
}

.registerFormContainer h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--espaciadoLetra);
    margin-bottom: 15px;
}

.registerFormContainer h3, h5, h6{
    text-align: center;
    margin-bottom: 30px;
}

.registerFormContainer h3::after{
    content: "";
  position: absolute;
  width: 50%;
  height: 0.2em;
  background: black;
  left: 25%;
  top: 105%;
  background-image: -webkit-gradient(linear, left top, right top, from(#726f7a), to(#2c2c2c));
  background-image: linear-gradient(to right, #1f1c25, #8f8f8f);
}

button.editData{
    margin: 30px;
    padding: 15px;
    border-radius: var(--bordeRadio);
    background-color:var(--botonFondo);
    color: var(--colorClaro);
    letter-spacing: 0.3rem;
    transition: var(--botonTransicion);
    text-transform: uppercase;
}

button.editData:hover{
    background-color: var(--botonFondoHover)
}

button.editData:focus{
    background-color: var(--botonFondoFocus);
    border: var(--botonBordeFocus);
    outline: none;
}

#accountContainer{
    display: none;
    transition: display 0.7;
}

.talkContainer h5{
    text-align: justify;
    margin: 30px;
}