.presentationContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.presentationImageContainer{
    margin-top: 100px;
    margin-left: 0px;
    padding-right: 50px;
}

.presentationImageContainer img{
    width: 400px;
}

.presentationTextContainer{
    padding: 80px;
    padding-right: 0px;
    margin-right: 95px;
    z-index: 0;
    width: 50%;
}

.presentationTextContainer button{
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(31, 31, 31) ;
    color: rgb(136, 136, 136);
    letter-spacing: 0.25rem;
    transition: background-color 0.7s
}

.presentationTextContainer button:hover{
    background-color: rgba(209, 208, 208, 0.897)
}

.presentationTextContainer button:focus{
    background-color: rgb(36, 35, 35);
    border: 2px solid rgba(209, 208, 208, 0.897);
    outline: none;
}