/* PONERLE UNA TRANSICION ON LOAD PARA QUE APAREZCAN AMBOS ELEMENTOS POR LOS COSTADOS */

@keyframes slide {
    0%   { transform: translate(0px,0px); }
    100% { transform: translate(0px,20px); }
}

.presentationContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation-name: slide;
    animation-duration: 3s; 
    animation-fill-mode: both;  
}

.presentationImageContainer{
    margin-top: 100px;
    margin-left: 0px;
    padding-right: 50px;         
}

.presentationImageContainer img{
    width: 400px;
}

.presentationTextContainer{
    padding: 80px;
    padding-right: 0px;
    margin-right: 95px;
    z-index: 0;
    width: 50%;
}

.presentationTextContainer button{
    margin-top: 40px;
    padding: 15px;
    border-radius: var(--bordeRadio);
    background-color:var(--botonFondo);
    color: var(--colorClaro);
    letter-spacing: var(--espaciadoLetra);
    transition: var(--botonTransicion);
}

.presentationTextContainer button:hover{
    background-color: var(--botonFondoHover);
}

.presentationTextContainer button:focus{
    background-color: var(--botonFondoFocus);
    border: var(--botonBordeFocus);
    outline: none;
}

.presentationTextContainer button a {
    color: var(--colorClaro);
}

.presentationTextContainer button a:hover {
    text-decoration: none;
}
